@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", monospace;
}

body {
  font-family: "Press Start 2P", monospace;
  background-color: #111;
  margin: 0;
  overflow: hidden;
  color: #FFF;
  user-select: none;
}

